html{
	scroll-behavior: smooth;
}
body{
	display: block;
	margin:0 0;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: white;
	border:none;
}
::-webkit-scrollbar-thumb{
	background:black;
	-webkit-transition:background 0.2s;
}
::-webkit-scrollbar-button{
	background:red;
}
::-webkit-scrollbar-track:hover{
	
}
::-webkit-scrollbar-button:hover{
	background:	#FF6347;
}
::-webkit-scrollbar-thumb:hover{
	background: red;
}
h4{
	margin:0.1em;
}
.boxing p{
	margin:0.1em;
}
.butt{
	border:2px solid black;
	background-color:rgba(0,0,0,0);
	border-radius: 5px;
	padding: 0.5em 0.8em;
	font-weight: bold;
	transition:0.2s ease-in-out;
}
.butt:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
.brand{
	font-family: 'Permanent Marker', cursive;
	display: block;
	margin: auto;
	margin-left: auto;
	font-size: 40px;
	transition: 0.5s ease-in-out;
}

.navigation_items>ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	text-align: center;
	justify-content: space-around;
}
.vertical_navigation_items>ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	justify-content: space-around;
}

.navigation_items>ul>li>a{
	display: block;
	width: 60px;
	text-decoration: none;
	color: black;
	transition: all .5s ease-in-out;
	padding: 22px;
}

.vertical_navigation_items>ul>li>a{
	display: flex;
	width: 60px;
	text-decoration: none;
	color: black;
	transition: all .5s ease-in-out;
	padding: 22px;
}

.inactive:hover{
	background-color: black;
	color: white;
}
.active{
	background-color: #555;
	color: white;
}
.active:hover{
	cursor: default;
}
.jumbatron_area{
	position: relative;
	display: flex;
	height: 650px;
	background-image: url("../images/code_background.png");
	background-color: grey;
}
.jumbatron_overlay{
	background-image: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,1));
	overflow: hidden;
	width: 100%;
    height: 100%;
    z-index: 1;
}
.bio{
	position: relative;
	display: flex;
	align-items: center;
	width: 97%;
	border-radius: 5px;
	margin: auto auto;
	-webkit-box-shadow:1px 5px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:1px 5px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 5px 9px 0px rgba(50, 50, 50, 0.75);
	z-index: 1;
	display: block;

}
h1{
	vertical-align: center;
}
.paragraph{
	position: relative;
	align-items: center;
	display: flex;
	text-align: center;
	justify-content: space-around;
	vertical-align: center;
}
.paragraph>p{
	max-width: 700px;
	min-width: 120px;
}
.smaller_items{
	height: auto;
	max-width: 750px;
	position: relative;
	align-items: center;
	display: flex;
	text-align: center;
	justify-content: center;
	vertical-align: center;
	flex-wrap: wrap;
	margin: auto auto;
}
.skills_arear{
	background-image: url("../images/xeon.jpg");
	background-size: cover;
}

.skills_overlay{
	background-image: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 40%, rgba(255,255,255,0.4) 60%, rgba(255,255,255,1) 100%);
	overflow: hidden;
	width: 100%;
    height: 100%;
    z-index: 1;
}
.boxing{
	width: 180px;
	padding:0.1em;
	height: 257px;
	align-self: center;
	justify-content: space-around;
	background-color: rgba(255,255,255,0.7);
	border-radius: 15px;
	margin:25px 25px;
	-webkit-box-shadow:1px 5px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:1px 5px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 5px 9px 0px rgba(50, 50, 50, 0.75);
	padding: 0.5%;
}

.react_logo {
  animation: React-logo-spin infinite 15s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text],select,textarea,input[type=email],input[type=tel]{
	background: #f1f3f4;
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: none;
	-webkit-box-shadow:1px 3px 9px 0px rgba(0, 50, 0, 0.75);
	-moz-box-shadow:1px 3px 9px 0px rgba(0, 50, 0, 0.75);
	box-shadow: 1px 3px 9px 0px rgba(56, 56, 56, 0.75);
	transition: all 0.2s ease-in-out;
}
input[type=text]:focus,select:focus,textarea:focus,input[type=email]:focus,input[type=tel]:focus{
        outline:none;
        background: rgba(255,255,255,1);
        -webkit-box-shadow:1px 3px 9px 0px rgba(0, 255, 255, 0.75);
        -moz-box-shadow:1px 3px 9px 0px rgba(0, 255, 255, 0.75);
        box-shadow: 1px 3px 9px 0px rgba(0, 185, 255, 0.75);
}
input[type=text]:hover,select:hover,textarea:hover,input[type=email]:hover,input[type=tel]:hover{
        outline:none;
        background: rgba(255,255,255,1);
        -webkit-box-shadow:1px 3px 9px 0px rgba(0, 255, 255, 0.75);
        -moz-box-shadow:1px 3px 9px 0px rgba(0, 255, 255, 0.75);
        box-shadow: 1px 3px 9px 0px rgba(0, 185, 255, 0.75);
}

input[type=submit]{
	background-color: rgba(0,0,0,0);
	color: black;
	padding: 0.5em 0.8em;
	border:2px solid black;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

input[type=submit]:hover{
	background-color: black;
	color: white;
}
#contact_form{
        width: 80%;
        border-radius: 15px;
        background-color: white;
        margin-bottom: 3em;
        background-image: url("../images/neon_reflection.jpg");
        background-size: cover;
        display: inline-block;
        overflow: hidden;
        -webkit-box-shadow:1px 5px 9px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:1px 5px 9px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 5px 9px 0px rgba(50, 50, 50, 0.75);

}
.form_overlay{
	background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.4),rgba(255,255,255,0.8));
	overflow: hidden;
	width: 100%;
    height: 100%;
    z-index: 1;
}
.form_contents{
	width:80%;
	margin: auto;
	margin-bottom: 2em;
}
label{
	display: block;
	text-align: left;
	padding:0.2em 0.5em;
	font-weight: bold;
}
footer{
	width: 97%;
	padding: 0.2em;
	border-radius: 5px;
	display: flex;
	justify-content:space-around;
	align-items:center;
	margin:0 auto;
	flex-wrap:wrap;
	-webkit-box-shadow:-2px -3px 15px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:-2px -3px 15px 1px rgba(50, 50, 50, 0.75);
	box-shadow: -2px -3px 15px 1px rgba(50, 50, 50, 0.75);
}
#hello{
	margin: 0 auto;
}
.header{
	position: fixed;
	top: 0%;
	left: 1.5%;
	display: inline-flex;


	height: 60px;
	width:97%;
	margin: 0;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 36px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 36px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 36px 2px rgba(0,0,0,0.75);
	z-index: 3;
	overflow: hidden;
}
button:focus{
	outline: none;
}
#sliding_menu{
	display: none;
}
.menu_reveal{
	width: 103px;
	height: 248px;
	position: fixed;
	z-index: 2;
	background-color: white;
	left:1.5%;
	top:10%;
	display: block;
	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	transition: 0.7s ease-in-out;
}

.menu_hidden{
	width: 103px;
	height: 350px;
	position: fixed;
	z-index: 1;
	background-color: white;
	left:1.5%;
	top:-100%;
	display: block;
	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	transition: 0.7s ease-in-out;
	opacity: 0;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.flashing {
	display: inline-flex;
	position: relative;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 0.7s;
}
#hamburger{
	display: none;
}
@media screen and (max-width: 750px) {
	#contact_form{
		width:97%;
	}	
	.footer_name{
		width:100%;
		color:red;
	}
	.navigation_items{
		display:none;
	}
		.paragraph{
		position: relative;
		align-items: center;
		display: flex;
		text-align: left;
		justify-content: space-around;
		padding: 15px;
	}
	#hamburger{
		display: inline-block;
	}
	#sliding_menu{
		display: block;
	}
	#hello{
		color: red; text-align: center; font-size: 30px;
	}
}
@media screen and (max-width: 400px) {
	.hide_boxing{
		display:none;
	}
	.wave_div{
		padding-top: 15%;
	}
	.brand{
		font-size: 30px;
	}
	.paragraph{
		position: relative;
		align-items: center;
		display: flex;
		text-align: left;
		justify-content: space-around;
		padding: 15px;
	}
	.navigation_items{
		display:none;
	}
	#hamburger{
		display: inline-block;
	}
	#sliding_menu{
		display: block;
	}
	.greetings{
		min-height: 150px;
		margin: auto auto;
	}
}
